<div class="col-xs-8 col-xs-offset-2">
  <h1>Notes application index page</h1>
</div>

<%= render partial: 'note', locals: { obj: @notes } %>

<div align="center">
  <%= will_paginate @notes %>
</div>